[submodule ".registry"]
	path = .registry
	url = https://github.com/saiemgilani/universe
	shallow = true
	branch = HEAD
[submodule "cfbfastR"]
	path = cfbfastR
	url = https://github.com/saiemgilani/cfbfastR
	shallow = true
	registered = true
[submodule "hoopR"]
	path = hoopR
	url = https://github.com/saiemgilani/hoopR
	shallow = true
	registered = true
[submodule "wehoop"]
	path = wehoop
	url = https://github.com/saiemgilani/wehoop
	shallow = true
	registered = true
[submodule "recruitR"]
	path = recruitR
	url = https://github.com/saiemgilani/recruitR
	shallow = true
	registered = true
[submodule "usfootballR"]
	path = usfootballR
	url = https://github.com/saiemgilani/usfootballR
	shallow = true
	registered = true
[submodule "powerplay"]
	path = powerplay
	url = https://github.com/saiemgilani/powerplay
	shallow = true
	registered = true
[submodule "baseballr"]
	path = baseballr
	url = https://github.com/billpetti/baseballr
	shallow = true
	registered = true
[submodule "fastRhockey"]
	path = fastRhockey
	url = https://github.com/benhowell71/fastRhockey
	shallow = true
	registered = true
[submodule "gamezoneR"]
	path = gamezoneR
	url = https://github.com/jacklich10/gamezoneR
	shallow = true
	registered = true
[submodule "worldfootballR"]
	path = worldfootballR
	url = https://github.com/jaseviz/worldfootballR
	shallow = true
	registered = true
